.home {
    text-align: center;
}

#searchBar {
    width: 700px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.registrationInfo {
    text-align: center;
    padding-top: 20px;
}

.emptyField {
    color: red;
}

.buttonDiv {
    padding-top: 100px;
}

.logoutButton {
    position: absolute;
    margin-left: 200px;
    margin-right: auto;
}

#profileTitle {
    text-align: center;
    padding-bottom: 40px;
}

header {
    background-color: #ADC1D6;
}

header h2 {
    text-align: center;
    font-size: 50px;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;}

header a:hover, header a:focus {
    color: black;
    background-color: #CFD6DE !important;
}

#dogPic{
  position: absolute;
  height: 300px;
  left: 0px;
  z-index: -1;
  opacity: .6;
}
