<div class="container-fluid home">
</div>
<div class="container-fluid search">
  <div class="searchBarDiv">
    <input class="clearfix" id='searchBar' ng-model="searchedFood" required type="text" name="search" placeholder="Search for food using ONE keyword...">
    <button id='searchButton' class='btn btn-lg glyphicon glyphicon-search' ng-click="search()" type="button" name="button"></button>
  </div>
    <div class="registrationInfo">
        <p ng-hide='loggedIn'>Want to save your pet's favorite foods? Click <a href="#!/register">here</a> to create a profile. <br />  Or <a href="#!/login">login</a> if you're already registered.</p>
    </div>
</div>
<div class="dogPicDiv">
    <img id='dogPic' src="/images/dog.jpg" alt="cartoon dog with bone">
</div>

<!--- Modals --->
<script type="text/ng-template" id="badFoodId">
  <div class="modalHeaderBad">
    <h4>This food may be harmful to your dog...</h4>
  </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Ok</button>
    </div>
</script>
<script type="text/ng-template" id="noFoodId">
  <div class="modalHeader">
    <h4>Sorry, we could not find any results matching your search. Please try again.</h4>
  </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Ok</button>
    </div>
</script>
