<div class="container-fluid">
<h1>Home Page</h1>
<input id='searchBar' ng-model="searchedFood" type="text" name="search" placeholder="Search for food by single keyword">
<div>
    <button ng-click="search()" type="button" name="button">Search</button>
</div>

<div ng-repeat="food in foods">
  <img class='img-responsive' width="200" ng-hide="food.safeToEat" ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Canada_Stop_sign.svg/2000px-Canada_Stop_sign.svg.png">
    <h3>{{food.food_type}}</h3>
    <img ng-src="{{food.food_pic}}" width="200">
    <button ng-show="food.safeToEat" type="button" ng-click="likeFood($index)">Yum</button>
    <button ng-show="food.safeToEat" type="button" ng-click="dislikeFood($index)">Yuck</button>
    <div ng-show="!food.safeToEat">
        <p><strong>Toxicity Level: </strong>{{food.toxicity_level}}</p>
        <p>{{food.harms}}</p>
    </div>
    <div ng-show="food.safeToEat">
        <p>{{food.benefits}}</p>
    </div>
</div>
</div>
