<div class="container-fluid home">
  <nav class='container-fluid'>
      <ul class='nav navbar-right'>
        <li id='logout' ng-if="loggedIn"><a ng-click="logout()">Logout</a></li>
      </ul>
  </nav>
    <input id='searchBar' ng-model="searchedFood" type="text" name="search" placeholder="Search for food using ONE keyword...">
        <button id='searchButton' class='btn btn-m glyphicon glyphicon-search' ng-click="search()" type="button" name="button"></button>
    <div class="registrationInfo">
      <p ng-hide='loggedIn'>Want to save your pet's favorite foods?<br /> Click <a href="#!/register">here</a> to create a profile. Or <a href="#!/login">login</a> if you're already registered.</p>
    </div>
</div>
<img id='dogPic' src="/images/dog.jpg"   alt="cartoon dog with bone">
