<h1>Login</h1>
<div>
    <form class="form">
        <div>
            <label for="username">Username:</label>
            <input ng-model="username" type="text" class="form-control" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input ng-model="password" type="password" class="form-control" />
        </div>
        <div>
            <button ng-click="login()" type="button" name="button">Login</button>
        </div>
</div>
</form>
<script type="text/ng-template" id="loginErrorId">
  <div class="modalHeader">
    <h4>Incorrect login credentials. If you do not have an account, head to the 'Register' tab to signup.</h4>
  </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Ok</button>
    </div>
</script>
