<div class="container-fluid">
  <div class="row">
    <h3 class=""id='profileTitle' ng-repeat='like in likes'>{{like.pet_name}}'s Page</h3>
      </div>
      <div class='row' ng-repeat="like in likes">
          <p ng-repeat='food in like.pet_likes'></p>
          <img id='profilePic' ng-src="{{like.pet_pic}}" width='150' alt="">
      </div>
    <div class='container-fluid'>
        <div class="row">
            <div id="likesDiv" class="col-sm-offset-4 col-sm-2">
                <h3 id='favoriteFoods'><strong>Foods I Like</strong></h3>
                <div class='col' ng-repeat="like in likes">
                    <p class='profileFood' ng-repeat='food in like.pet_likes | orderBy track by $index'>{{food}} <button class="btn-xs glyphicon glyphicon-remove deleteButton" type="button" ng-click="deleteLike(food)"></button></p>
                </div>
            </div>
            <div id="dislikesDiv" class="col-sm-2">
                <h3 id='dislikedFoods'><strong>Foods I Don't Like</strong></h3>
                <div ng-repeat="dislike in dislikes">
                    <p class='profileFood' ng-repeat='food in dislike.pet_dislikes | orderBy track by $index'>{{food}} <button class="btn-xs glyphicon glyphicon-remove deleteButton" type="button" ng-click="deleteDislike(food)"></button></p>
                </div>
            </div>
        </div>
    </div>
    <div class="dogPicDiv">
        <img id='profileDog' src="/images/bulldog.jpg" alt="cartoon dog with bone">
    </div>
</div>
