<div class="container-fluid">
    <h3 id='profileTitle' ng-repeat='like in likes'>{{like.pet_name}}'s Page</h3>
<div class="flex-grid">
  <div id="likesDiv" class='col' >
      <h4 id='favoriteFoods'>Foods I Like</h4>
      <div class='col' ng-repeat="like in likes">
          <p ng-repeat='food in like.pet_likes | orderBy'>{{food}}</p>
      </div>
  </div>

  <div id="dislikesDiv" class="col">
      <h4 id='dislikedFoods'>Foods I Hate</h4>
      <div ng-repeat="dislike in dislikes">
          <p ng-repeat='food in dislike.pet_dislikes | orderBy'>{{food}}</p>
      </div>
  </div>
</div>

<div class="buttonDiv">
  <button ng-click="logout()" type="button" class="logoutButton">Logout</button>
</div>

</div>
