<h1>Register</h1>
<div >
    <form class="form">
        <div>
            <label for="username">Username:</label>
            <input ng-model="username" type="text" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input ng-model="password" type="password" />
        </div>
        <div>
            <label for="pet_name">Pet's Name:</label>
            <input ng-model="pet_name" type="text" />
        </div>
        <div>
            <button ng-click="register()" type="button" name="button">Register</button>
        </div>
</div>
</form>
