<h1>Register</h1>
<div>
    <form name="form">
        <div>
            <label for="username">*Username:</label>
            <input name="username" ng-model="username" type="text" required class="form-control" />
            <span class='emptyField' ng-show="form.username.$touched && form.username.$invalid">Username is required.</span>
        </div>
        <div>
            <label for="password">*Password:</label>
            <input name="password" ng-model="password" type="password" required class="form-control" />
            <span class='emptyField' ng-show="form.password.$touched && form.password.$invalid">Password is required.</span> </div>
        <div>
            <label for="pet_name">*Dog's Name:</label>
            <input name="pet_name" ng-model="pet_name" type="text" required class="form-control" />
            <span class='emptyField' ng-show="form.pet_name.$touched && form.pet_name.$invalid">Dog's name is required.</span>
        </div>
        <div>
            <button ng-disabled="form.$invalid" ng-click="register()" type="button" name="button">Register</button>
        </div>
</div>
</form>
<script type="text/ng-template" id="errorId">
    <p>Username in use. Please choose new username.</p>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Ok</button>
    </div>
</script>
<script type="text/ng-template" id="successId">
    <p>Your profile has been created. Login to continue.</p>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">Ok</button>
    </div>
</script>
